header{ 
    width: 100%;
    height: 200px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,100px);
    }
    nav{
        grid-column: 1/3;
        grid-row: 2/3;
    }
    header img{
        grid-column: 2/3;
        grid-row:1/2 ;
        width:50px;
        height: 50px
    }
    .dayConcept img{
        width: 150px;
    } 
    .destacateconcept-div img{
        width: 150px;
    }
    .culture-div img{
        width: 150px;
    }
    .popularconcept img{
        width: 200px;
    }
    .popularconceptimg{
        width: 100%;
        display:flex;
        flex-wrap: wrap;
    }
    .popularconceptimg{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
    }
    .recientconcept img{
        width: 200px;
    }
    .recientconcept{
        width: 100%;
        display:flex;
        flex-wrap: wrap;
    }
    .recientconceptimg{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
    }